*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 50px;
    text-align: center;
    color: #f1f1f1;
    font-weight: 100;
    margin-bottom: 250px;
    z-index: 2;
}
h1 span {
    font-weight: 600;
    z-index: 2;
}
.nav-toggler {
    position: fixed;
    top: 30px;
    left: 30px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 2;
}

.line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #f1f1f1;
    border-radius: 3px;
    transition: transform 1s ease-out,
    opacity 0.1s ease-out;
}
.rectangle {
    position: absolute;
    display: block;
    width: 115%;
    height: 2px;
    background: #f1f1f1;
    border-radius: 3px;
    transition: transform 0.8s ease-out,
    opacity 0.1s ease-out;
}

.l1 {
    transform: translateY(-10px)
}
.l2 {
    opacity: 1;
    visibility: show;
    transition: opacity 0.8s linear, visibility 0.8s linear;
}
.l3 {
    transform: translateY(10px)
}

.l4 {
    transform: translateY(-20px) translateX(20px) rotate(45deg);
    opacity: 1;
    transition: transform 0.8s ease-out, opacity 0.5s ease-out 0.5s;
}
.l5 {
    transform: translateY(-20px) translateX(-20px) rotate(-45deg);
    opacity: 1;
    transition: transform 0.8s ease-out, opacity 0.5s ease-out 0.5s;
}
.l6 {
    transform: translateY(20px) translateX(20px) rotate(-45deg);
    opacity: 1;
    transition: transform 0.8s ease-out, opacity 0.5s ease-out 0.5s;
}
.l7 {
    transform: translateY(20px) translateX(-20px) rotate(45deg);
    opacity: 1;
    transition: transform 0.8s ease-out, opacity 0.5s ease-out 0.5s;
}

.nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
}
.nav-toggler.active .l2 {
    transition: opacity 0.5s linear, visibility 0.5s linear;
    opacity: 0;
    visibility: hidden;
}
.nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
}

.nav-toggler.active .l4 {
    transform: translateY(0px) translateX(0px) rotate(135deg);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.5s ease-out 0.5s;
    transition-delay: 0.5s;
}
.nav-toggler.active .l5 {
    transform: translateY(0px) translateX(0px) rotate(45deg);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.5s ease-out 0.5s;
    transition-delay: 0.5s;
}
.nav-toggler.active .l6 {
    transform: translateY(0px) translateX(0px) rotate(45deg);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.5s ease-out 0.5s;
    transition-delay: 0.5s;
}
.nav-toggler.active .l7 {
    transform: translateY(0px) translateX(0px) rotate(135deg);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.5s ease-out 0.5s;
    transition-delay: 0.5s;
}

nav {
    position: fixed;
    width: 20vw;
    min-height: 100vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
    border-right: 1px solid #cfcfcf;
    transform: translateX(-100%);
    transition: transform 0.4s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    z-index: 2;
}
nav.active {
    transform: translate(0);
}
nav a {
    font-family: Quicksand, sans-serif;
    color: #f1f1f1;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
    z-index: 2;
}